.btn{
    margin-top: 25px;
}
.event-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.past-event-card {
    opacity: 0.3;
}
.past-event-card:hover {
    opacity: 0.7;
}
.search-event {
    margin-top: 0px;
    vertical-align: middle;
}

.error-box {
  height: 100%;
  position: fixed;
  background: url('/images/giphy.gif') no-repeat left center #fff;
  width: 100%; }
  .error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }

.error-body {
  padding-top: 5%; }
  .error-body h1 {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
    line-height: 210px; }

.error-validation {
    border: 1px solid;
    border-color: #dc3545;
}
.success-validation {
    border: 1px solid;
    border-color: #28a745;

}