h1 {
    text-align: left;
    letter-spacing: 1px;
    font-weight: normal;
}
img {
    align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.img-holder{
  height: 200px;
  width: 50%;
  text-align: center;
  border: 2px;
  margin-left: 300px;
  margin-right: 100px;
  margin-bottom: 100px;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
header{
  margin:50px;
  margin-bottom: 100px;
}
body{
  background-color: #f2f2f2;
}
div.card{
  width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}
.add-event{
  margin: 50px;
}
.date-input{
  width: 50px;
}
