.fixed-sidebar .navbar-header {
    position: static;
}
.event-date {
    text-align: right;
    color: white;
}
.event-title {
    font-size: 24px;
    color: white;
}
.event-card-header {
    background-color: #606060;
}
.btn-poz {
    margin: 5px;
}
.event-card {
    border-color: #606060;
}
#event-id {
    display: none;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
