.navmenu{
  background: url('/images/beer-foam.jpg') no-repeat;
  background-size: cover;
  font-family: Arial;
}
.jclock{
  font-family: Geneva, Verdana, 'Sans-Serif';
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 10px;
}
