body{
  background: url('/images/vintage_05.jpg') no-repeat;
  background-size: cover;
  font-family: Arial;
}
.jclock{
  font-family: Geneva, Verdana, 'Sans-Serif';
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 10px;
}

.nav-brand{
  font-family: Algerian;
  font-size: 50px;
  color: black;
}

.navmenu{
  background: url('/images/beer-foam.jpg') no-repeat;
  background-size: cover;
  font-family: Arial;
}

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: whitesmoke;
        color: black;
        text-align: center;
    }

.connected{
  color: black;
}
