<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head data-th-fragment="head">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png" />
        <title th:text="${pageTitle != null} ? ${pageTitle} : 'Beertalk'">IDE EGY VÁLTOZÓ KELL!</title>
        <!-- Custom CSS -->
        <link href="/css/style.min.css" rel="stylesheet" />

        <link data-th-if="${page} == 'visitors'"  href="/css/visitors_table.css" rel="stylesheet" />
        <link data-th-if="${page} == 'events'" href="/css/eventcard_design.css" rel="stylesheet" />
        <link href="/assets/node_modules/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet"/>
        <link href="/css/user-card.css" rel="stylesheet"/>
        <link href="/css/pages/google-vector-map.css" rel="stylesheet"/>
        <link href="/assets/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
        <!--Range slider CSS -->
        <link href="/assets/node_modules/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet"/>
        <link href="/assets/node_modules/ion-rangeslider/css/ion.rangeSlider.skinSimple.css" rel="stylesheet"/>
        <!--Loginpage CSS -->
        <link rel="stylesheet" type="text/css" href="/css/login-register-lock.css"/>
        <!-- <link data-th-if="${loginpage} == 'login'"  href="/css/login-register-lock.css" rel="stylesheet" /> -->

<!-- ================================================================================================= -->
        <!-- KÉRLEK TITEKET, HOGY EZT AZ EGY CSS-T HASZNÁLJÁTOK. -->
        <link href="/css/beertalk.css" rel="stylesheet" />
<!-- ================================================================================================= -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>


        <!-- Bootstrap tether Core JavaScript -->
        <script src="/assets/node_modules/popper/popper.min.js"></script>
        <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/js/perfect-scrollbar.jquery.min.js"></script>
        <!--Wave Effects -->
        <script src="/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="/js/sidebarmenu.js"></script>
        <!--stickey kit -->
        <script src="/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <!--dropify -->
        <script src="/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
        <!--Google maps   -->
        <script data-th-if="${page} == 'contact' OR ${page} == 'events'" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-H0Lg5bKVSADq4XK7GNC19_n71zsCXo"></script>
        <script data-th-if="${page} == 'contact' OR ${page} == 'events'" src="/assets/node_modules/gmaps/jquery.gmaps.js"></script>
        <script data-th-if="${page} == 'contact'" src="/js/contact.js"></script>
        <!--Custom JavaScript -->
        <script src="/js/custom.min.js"></script>
        <script src="/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
        <script src="/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
        <script src="/js/jquery.datetimepicker.full.min.js"></script>
        <script src="/js/beertalk.js"></script>

        <script data-th-if="${page} == 'visitors'" src="/js/jquery.tablednd.js"></script>
        <script data-th-if="${page} == 'visitors'" src="/js/visitors_of_event.js"></script>
        <script data-th-if="${page} == 'events'" src="/js/eventcard_script.js"></script>
        <script data-th-if="${page} == 'modifyuserdata'" src="/js/modifyuserdata.js"></script>
        <script data-th-if="${page} == 'registration'" src="/js/registration.js"></script>
        <script data-th-if="${page} == 'adminpage'" src="/js/search.js" data-th-inline="javascript"></script>
        <script data-th-if="${page} == 'adminpage'" src="/js/adminpage.js" data-th-inline="javascript"></script>
        <script data-th-if="${page} == 'createEvent' OR ${page} == 'modifyevent'" src="/js/createEvent.js"></script>
        <script data-th-if="${page} == 'regcode'" src="/js/registrationcode.js"></script>
        <script data-th-if="${page} == 'change_pw'" src="/js/change_pw.js"></script>
        <!-- Range slider  -->
        <script data-th-if="${slider} == 'rangeSlider'" src="/assets/node_modules/ion-rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
        <script data-th-if="${slider} == 'rangeSlider'" src="/assets/node_modules/ion-rangeslider/js/ion-rangeSlider/ion.rangeSlider-init.js"></script>

        <script src="/js/geoscript.js"></script>
        <script src="/js/validation.js"></script>

        <!--Loginpage JS -->
        <script src="js/login-register-lock.js"></script>

        <!--for user tree/treeview -->
        <!--stickey kit -->
        <script data-th-if="${page} == 'usertree'" src="../assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
        <!-- Treeview Plugin JavaScript -->
        <script data-th-if="${page} == 'usertree'" src="../assets/node_modules/bootstrap-treeview-master/dist/bootstrap-treeview.min.js"></script>
        <script data-th-if="${page} == 'usertree'" src="../assets/node_modules/bootstrap-treeview-master/dist/bootstrap-treeview-init.js"></script>
        <script data-th-if="${page} == 'usertree'" src="/js/usertree.js"></script>


        <!-- TODO bekötni servicebe -->
        <script data-th-if="${page} == 'change_pw'" type="text/javascript" src="/js/change_pw.js"></script>

    </head>
    <body>
        <!-- ============================================================== -->
        <!-- Preloader fregment -->
        <!-- ============================================================== -->
        <div class="preloader" data-th-fragment="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Beertalk</p>
            </div>
        </div>

        <header class="topbar" data-th-fragment="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/events">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Light Logo icon -->
                            <img src="/images/logo50x40w-transbg.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- Light Logo text -->
                         <img src="/images/beertalk108x21w.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-sm-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">

                            <!--<a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img data-th-src="@{userprofile/image}" class=""/><span class="hidden-md-down showUsername"><i class="fa fa-angle-down" ></i></span> </a>-->


                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img data-th-src="@{/userprofile/image}" class=""/><span class="hidden-md-down showUsername" data-th-text="${username}"><i class="fa fa-angle-down" ></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <a href="/userprofile" class="dropdown-item"><i class="ti-user"></i> Saját profil</a>
                                <a href="/logout" class="dropdown-item"><i class="fa fa-power-off"></i> Kijelentkezés</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-th-fragment="menu">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">--- MENU</li>
                        <li> <a class="waves-effect waves-dark" href="/events" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu"> Események<span class="badge badge-pill badge-cyan ml-auto">4</span></span></a></li>
                        <li><a class="waves-effect waves-dark" href="/gallery" aria-expanded="false"><i class="ti-gallery"></i><span class="hide-menu"> Fényképek</span></a></li>
                        <li> <a class="waves-effect waves-dark two-column" href="/contact" aria-expanded="false"><i class="ti-map-alt"></i><span class="hide-menu"> Kapcsolat<span class="badge badge-pill badge-primary text-white ml-auto">25</span></span></a></li>
                        <li class="nav-small-cap">--- MEGHÍVÓ KÓD GENERÁLÁSA</li>
                        <li> <a class="waves-effect waves-dark" href="/createregistrationcode" aria-expanded="false"><i class="icon-user-follow"></i><span class="hide-menu"> Meghívó kód<span class="badge badge-pill badge-cyan ml-auto">4</span></span></a></li>
                        <li class="nav-small-cap">--- ADMIN</li>
                        <li><a class="waves-effect waves-dark" data-sec-authorize="hasAuthority('ROLE_ADMIN')" id="adminpage" href="/adminpage" aria-expanded="false"><i class="ti-wand"></i><span class="hide-menu"> ADMIN<span class="badge badge-pill badge-cyan ml-auto">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/adminpage"> Regisztrált felhasználók</a></li>
                                <li><a href="/events/create"> Esemény létrehozása</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <aside class="right-sidebar" data-th-fragment="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme working">6</a></li>
                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                        <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </body>
</html>
